#### 5.1.2 서울열린데이터광장의 OPEN API를 활용한 공공데이터 수집

서울열린데이터광장(https://data.seoul.go.kr/) 사이트를 통해 행정구역 내의 다양한 공공데이터를 제공

이번 절에서는 서울열린데이터괒앙에서 OPEN API를 사용해 시군구 목록, 주민등록 인구 통계, 사업체 수 정보를 수집해보겠습니다.

In [1]:
#노트북 환경
import sys
sys.path.append('C:/Users/kkang/새 폴더/')
import OpenApiKey

서울시 행정구역 시군구 정보 서울열린데이터광장에서 검색  
이 데이터는 시군구코드, 한글과 영문, 시군구명, 위도, 경도 등의 데이터로 구성되며 엑셀파일로 다운로드 하거나 OPEN API를 통해 획득 가능합니다.  
API의 url 형식  
'http://openapi.seoul.go.kr:8088/{key}/{type}/{serivce}/{star_index}/{end_index/{objectid}'
key : string 필수 인증키   
type : string 필수 요청파일타입 xml/xmlf/xls/json 타입 지원  
service : string 필수 서비스명 SdeTlSccoSigw  
start_index : string 필수 요청시작위치 숫자입력  
end_index : string 필수 요청종료위치 숫자입력  
objectid : string 선택 순번 정수입력  


이 장에서는 파이썬의 dictionary 타입과 비슷한 json 타입을 이용

In [2]:
#필요한 모듈 
import requests
import pandas as pd

In [3]:
# 서울열린데ㅣ터광장 API 호출 키
SOAK = OpenApiKey.SOAK

In [4]:
# 시군구 목록을 가져오는 API 호출 URL
url = f'http://openapi.seoul.go.kr:8088/{SOAK}/json/SdeTlSccoSigW/1/25'
print(url)

http://openapi.seoul.go.kr:8088/41454d4a476b636835374563557761/json/SdeTlSccoSigW/1/25

In [5]:
result_dict = requests.get(url).json()

In [6]:
result_dict

{'SdeTlSccoSigW': {'list_total_count': 25,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'OBJECTID': 1.0,
    'SIG_CD': '11320',
    'SIG_KOR_NM': '도봉구',
    'SIG_ENG_NM': 'Dobong-gu',
    'ESRI_PK': 0.0,
    'LAT': '37.6658609',
    'LNG': '127.0317674'},
   {'OBJECTID': 2.0,
    'SIG_CD': '11380',
    'SIG_KOR_NM': '은평구',
    'SIG_ENG_NM': 'Eunpyeong-gu',
    'ESRI_PK': 1.0,
    'LAT': '37.6176125',
    'LNG': '126.9227004'},
   {'OBJECTID': 3.0,
    'SIG_CD': '11230',
    'SIG_KOR_NM': '동대문구',
    'SIG_ENG_NM': 'Dongdaemun-gu',
    'ESRI_PK': 2.0,
    'LAT': '37.5838012',
    'LNG': '127.0507003'},
   {'OBJECTID': 4.0,
    'SIG_CD': '11590',
    'SIG_KOR_NM': '동작구',
    'SIG_ENG_NM': 'Dongjak-gu',
    'ESRI_PK': 3.0,
    'LAT': '37.4965037',
    'LNG': '126.9443073'},
   {'OBJECTID': 5.0,
    'SIG_CD': '11545',
    'SIG_KOR_NM': '금천구',
    'SIG_ENG_NM': 'Geumcheon-gu',
    'ESRI_PK': 4.0,
    'LAT': '37.4600969',
    'LNG': '126.9001546'},
   {'OBJECTID': 6.0,
    'SIG_CD': '11530',
    'SIG_KOR_NM': '구로구',
    'SIG_ENG_NM': 'Guro-gu',
    'ESRI_PK': 5.0,
    'LAT': '37.4954856',
    'LNG': '126.858121'},
   {'OBJECTID': 7.0,
    'SIG_CD': '11110',
    'SIG_KOR_NM': '종로구',
    'SIG_ENG_NM': 'Jongno-gu',
    'ESRI_PK': 6.0,
    'LAT': '37.5990998',
    'LNG': '126.9861493'},
   {'OBJECTID': 8.0,
    'SIG_CD': '11305',
    'SIG_KOR_NM': '강북구',
    'SIG_ENG_NM': 'Gangbuk-gu',
    'ESRI_PK': 7.0,
    'LAT': '37.6469954',
    'LNG': '127.0147158'},
   {'OBJECTID': 9.0,
    'SIG_CD': '11260',
    'SIG_KOR_NM': '중랑구',
    'SIG_ENG_NM': 'Jungnang-gu',
    'ESRI_PK': 8.0,
    'LAT': '37.5953795',
    'LNG': '127.0939669'},
   {'OBJECTID': 10.0,
    'SIG_CD': '11680',
    'SIG_KOR_NM': '강남구',
    'SIG_ENG_NM': 'Gangnam-gu',
    'ESRI_PK': 9.0,
    'LAT': '37.4959854',
    'LNG': '127.0664091'},
   {'OBJECTID': 11.0,
    'SIG_CD': '11500',
    'SIG_KOR_NM': '강서구',
    'SIG_ENG_NM': 'Gangseo-gu',
    'ESRI_PK': 10.0,
    'LAT': '37.5657617',
    'LNG': '126.8226561'},
   {'OBJECTID': 12.0,
    'SIG_CD': '11140',
    'SIG_KOR_NM': '중구',
    'SIG_ENG_NM': 'Jung-gu',
    'ESRI_PK': 11.0,
    'LAT': '37.5579452',
    'LNG': '126.9941904'},
   {'OBJECTID': 13.0,
    'SIG_CD': '11740',
    'SIG_KOR_NM': '강동구',
    'SIG_ENG_NM': 'Gangdong-gu',
    'ESRI_PK': 12.0,
    'LAT': '37.5492077',
    'LNG': '127.1464824'},
   {'OBJECTID': 14.0,
    'SIG_CD': '11215',
    'SIG_KOR_NM': '광진구',
    'SIG_ENG_NM': 'Gwangjin-gu',
    'ESRI_PK': 13.0,
    'LAT': '37.5481445',
    'LNG': '127.0857528'},
   {'OBJECTID': 15.0,
    'SIG_CD': '11440',
    'SIG_KOR_NM': '마포구',
    'SIG_ENG_NM': 'Mapo-gu',
    'ESRI_PK': 14.0,
    'LAT': '37.5622906',
    'LNG': '126.9087803'},
   {'OBJECTID': 16.0,
    'SIG_CD': '11650',
    'SIG_KOR_NM': '서초구',
    'SIG_ENG_NM': 'Seocho-gu',
    'ESRI_PK': 16.0,
    'LAT': '37.4769528',
    'LNG': '127.0378103'},
   {'OBJECTID': 17.0,
    'SIG_CD': '11290',
    'SIG_KOR_NM': '성북구',
    'SIG_ENG_NM': 'Seongbuk-gu',
    'ESRI_PK': 17.0,
    'LAT': '37.606991',
    'LNG': '127.0232185'},
   {'OBJECTID': 18.0,
    'SIG_CD': '11350',
    'SIG_KOR_NM': '노원구',
    'SIG_ENG_NM': 'Nowon-gu',
    'ESRI_PK': 18.0,
    'LAT': '37.655264',
    'LNG': '127.0771201'},
   {'OBJECTID': 19.0,
    'SIG_CD': '11710',
    'SIG_KOR_NM': '송파구',
    'SIG_ENG_NM': 'Songpa-gu',
    'ESRI_PK': 19.0,
    'LAT': '37.5048534',
    'LNG': '127.1144822'},
   {'OBJECTID': 20.0,
    'SIG_CD': '11410',
    'SIG_KOR_NM': '서대문구',
    'SIG_ENG_NM': 'Seodaemun-gu',
    'ESRI_PK': 21.0,
    'LAT': '37.5820369',
    'LNG': '126.9356665'},
   {'OBJECTID': 21.0,
    'SIG_CD': '11470',
    'SIG_KOR_NM': '양천구',
    'SIG_ENG_NM': 'Yangcheon-gu',
    'ESRI_PK': 22.0,
    'LAT': '37.5270616',
    'LNG': '126.8561534'},
   {'OBJECTID': 22.0,
    'SIG_CD': '11560',
    'SIG_KOR_NM': '영등포구',
    'SIG_ENG_NM': 'Yeongdeungpo-gu',
    'ESRI_PK': 23.0,
    'LAT': '37.520641',
    'LNG': '126.9139242'},
   {'OBJECTID': 23.0,
    'SIG_CD': '11620',
    'SIG_KOR_NM': '관악구',
    'SIG_ENG_NM': 'Gwanak-gu',
    'ESRI_PK': 15.0,
    'LAT': '37.4653993',
    'LNG': '126.9438071'},
   {'OBJECTID': 24.0,
    'SIG_CD': '11200',
    'SIG_KOR_NM': '성동구',
    'SIG_ENG_NM': 'Seongdong-gu',
    'ESRI_PK': 20.0,
    'LAT': '37.5506753',
    'LNG': '127.0409622'},
   {'OBJECTID': 25.0,
    'SIG_CD': '11170',
    'SIG_KOR_NM': '용산구',
    'SIG_ENG_NM': 'Yongsan-gu',
    'ESRI_PK': 24.0,
    'LAT': '37.5311008',
    'LNG': '126.9810742'}]}}

In [7]:
# 시군구 목록 결과 딕셔너리 데이터의 값 가져오기
result_data = result_dict['SdeTlSccoSigW']

print(result_data['list_total_count'])
print(result_data['RESULT'])
print(result_data['row'][0])

25
{'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}
{'OBJECTID': 1.0, 'SIG_CD': '11320', 'SIG_KOR_NM': '도봉구', 'SIG_ENG_NM': 'Dobong-gu', 'ESRI_PK': 0.0, 'LAT': '37.6658609', 'LNG': '127.0317674'}

In [8]:
#결과 데이터를 pandas의 데이터프레임으로 변환
data_list = result_data['row']
sample_df = pd.DataFrame(data_list)
sample_df.head()

   ESRI_PK         LAT          LNG  OBJECTID SIG_CD     SIG_ENG_NM SIG_KOR_NM
0      0.0  37.6658609  127.0317674       1.0  11320      Dobong-gu        도봉구
1      1.0  37.6176125  126.9227004       2.0  11380   Eunpyeong-gu        은평구
2      2.0  37.5838012  127.0507003       3.0  11230  Dongdaemun-gu       동대문구
3      3.0  37.4965037  126.9443073       4.0  11590     Dongjak-gu        동작구
4      4.0  37.4600969  126.9001546       5.0  11545   Geumcheon-gu        금천구

***서울열린데이터광장 OPEN API를 호출하는 함수 작성***

In [9]:
def seoul_open_api_data(url,service):
    data_list = None
    try:
        result_dict = requests.get(url).json()
        result_data = result_dict[service]
        code = result_data['RESULT']['CODE']
        if code =='INFO-000':
            data_list = result_data['row']
    except:
        pass
    return data_list

In [10]:
#
sgg_df =pd.DataFrame(sample_df , columns= ['SIG_CD','SIG_KOR_NM','LAT','LNG'])
sgg_df

   SIG_CD SIG_KOR_NM         LAT          LNG
0   11320        도봉구  37.6658609  127.0317674
1   11380        은평구  37.6176125  126.9227004
2   11230       동대문구  37.5838012  127.0507003
3   11590        동작구  37.4965037  126.9443073
4   11545        금천구  37.4600969  126.9001546
5   11530        구로구  37.4954856   126.858121
6   11110        종로구  37.5990998  126.9861493
7   11305        강북구  37.6469954  127.0147158
8   11260        중랑구  37.5953795  127.0939669
9   11680        강남구  37.4959854  127.0664091
10  11500        강서구  37.5657617  126.8226561
11  11140         중구  37.5579452  126.9941904
12  11740        강동구  37.5492077  127.1464824
13  11215        광진구  37.5481445  127.0857528
14  11440        마포구  37.5622906  126.9087803
15  11650        서초구  37.4769528  127.0378103
16  11290        성북구   37.606991  127.0232185
17  11350        노원구   37.655264  127.0771201
18  11710        송파구  37.5048534  127.1144822
19  11410       서대문구  37.5820369  126.9356665
20  11470        양천구  37.5270616  126.8561534
21  11560       영등포구   37.520641  126.9139242
22  11620        관악구  37.4653993  126.9438071
23  11200        성동구  37.5506753  127.0409622
24  11170        용산구  37.5311008  126.9810742

In [11]:
sgg_df.columns=['시군구코드','시군구명','위도','경도']
sgg_df.head()

   시군구코드  시군구명          위도           경도
0  11320   도봉구  37.6658609  127.0317674
1  11380   은평구  37.6176125  126.9227004
2  11230  동대문구  37.5838012  127.0507003
3  11590   동작구  37.4965037  126.9443073
4  11545   금천구  37.4600969  126.9001546

In [29]:
#엑셀로 저장
sgg_df.to_excel('./files/0527seoul_sgg_list.xlsx',index= False)

In [12]:
sgg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
시군구코드    25 non-null object
시군구명     25 non-null object
위도       25 non-null object
경도       25 non-null object
dtypes: object(4)
memory usage: 880.0+ bytes

***공통함수를 이용해 서울시 시군구별 인구 데이터 가져오기***  
http://openapi.seoul.go.kr:8088/{key}/json/octastatapi419/1/5/gigan/jachigu


key : string 필수 인증키   
type : string 필수 요청파일타입 xml/xmlf/xls/json 타입 지원  
service : string 필수 서비스명 SdeTlSccoSigw  
start_index : string 필수 요청시작위치 숫자입력  
end_index : string 필수 요청종료위치 숫자입력  
gigan : string 선택 기간 조회 연도  
JACHIGU : string 선택 시군구 시군구명

In [13]:
pop_url =f'http://openapi.seoul.go.kr:8088/{SOAK}/json/octastatapi419/1/26/2019.3-4/'
pop_data_list = seoul_open_api_data(pop_url,'octastatapi419')
sgg_pop_df = pd.DataFrame(pop_data_list)
sgg_pop_df.head()

,GIGAN,GYE_1,GYE_2,GYE_3,JACHIGU,NAMJA_1,NAMJA_2,NAMJA_3,N_65SEISANGGORYEONGJA,SEDAE,SEDAEDANGINGU,YEOJA_1,YEOJA_2,YEOJA_3
0,2019.3-4,"10,025,927","9,740,398","285,529",합계,"4,887,068","4,751,696","135,372","1,468,146","4,315,921",2.26,"5,138,859","4,988,702","150,157"
1,2019.3-4,"162,860","151,767","11,093",종로구,"78,523","73,952","4,571","27,394","73,942",2.05,"84,337","77,815","6,522"
2,2019.3-4,"136,663","126,409","10,254",중구,"67,030","62,161","4,869","23,025","62,593",2.02,"69,633","64,248","5,385"
3,2019.3-4,"244,989","228,830","16,159",용산구,"119,499","110,478","9,021","38,531","109,911",2.08,"125,490","118,352","7,138"
4,2019.3-4,"311,290","303,158","8,132",성동구,"152,134","148,510","3,624","43,662","136,466",2.22,"159,156","154,648","4,508"

In [14]:
#필요 없는 데이터 제거
condition = sgg_pop_df['JACHIGU'] != '합계'
sgg_pop_df_selected = sgg_pop_df[condition]
sgg_pop_df_selected.head()

,GIGAN,GYE_1,GYE_2,GYE_3,JACHIGU,NAMJA_1,NAMJA_2,NAMJA_3,N_65SEISANGGORYEONGJA,SEDAE,SEDAEDANGINGU,YEOJA_1,YEOJA_2,YEOJA_3
1,2019.3-4,"162,860","151,767","11,093",종로구,"78,523","73,952","4,571","27,394","73,942",2.05,"84,337","77,815","6,522"
2,2019.3-4,"136,663","126,409","10,254",중구,"67,030","62,161","4,869","23,025","62,593",2.02,"69,633","64,248","5,385"
3,2019.3-4,"244,989","228,830","16,159",용산구,"119,499","110,478","9,021","38,531","109,911",2.08,"125,490","118,352","7,138"
4,2019.3-4,"311,290","303,158","8,132",성동구,"152,134","148,510","3,624","43,662","136,466",2.22,"159,156","154,648","4,508"
5,2019.3-4,"368,337","352,692","15,645",광진구,"177,749","171,103","6,646","47,347","164,173",2.15,"190,588","181,589","8,999"

In [15]:
sgg_pop_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 14 columns):
GIGAN                    25 non-null object
GYE_1                    25 non-null object
GYE_2                    25 non-null object
GYE_3                    25 non-null object
JACHIGU                  25 non-null object
NAMJA_1                  25 non-null object
NAMJA_2                  25 non-null object
NAMJA_3                  25 non-null object
N_65SEISANGGORYEONGJA    25 non-null object
SEDAE                    25 non-null object
SEDAEDANGINGU            25 non-null object
YEOJA_1                  25 non-null object
YEOJA_2                  25 non-null object
YEOJA_3                  25 non-null object
dtypes: object(14)
memory usage: 2.9+ KB

In [16]:
#필요한 columns 만 선택
columns = ['JACHIGU','GYE_1']
sgg_pop_df_final = sgg_pop_df_selected[columns]
sgg_pop_df_final.head()

  JACHIGU    GYE_1
1     종로구  162,860
2      중구  136,663
3     용산구  244,989
4     성동구  311,290
5     광진구  368,337

In [17]:
sgg_pop_df_final.columns = ['시군구명','주민등록인구']
sgg_pop_df_final.head()

  시군구명   주민등록인구
1  종로구  162,860
2   중구  136,663
3  용산구  244,989
4  성동구  311,290
5  광진구  368,337

In [28]:
sgg_pop_df_final.to_excel('./files/0527sgg_pop.xlsx',index= False)

***공통 함수를 이용해 서울시 시군구별 사업체 데이터 가져오기***  
http://openapi.seoul.go.kr:8088/(인증키)/xml/octastatapi104/1/5/  
key : string 필수 인증키   
type : string 필수 요청파일타입 xml/xmlf/xls/json 타입 지원  
service : string 필수 서비스명 SdeTlSccoSigw  
start_index : string 필수 요청시작위치 숫자입력  
end_index : string 필수 요청종료위치 숫자입력  
gigan : string 선택 기간 조회 연도  
JACHIGU : string 선택 시군구 시군구명

In [21]:
#공통 함수를 이용한 서울시 동별 사업체현황 통계 API 현황
biz_url = f'http://openapi.seoul.go.kr:8088/{SOAK}/json/octastatapi104/1/450/'
biz_data_list = seoul_open_api_data(biz_url,'octastatapi104')

sgg_biz_df = pd.DataFrame(biz_data_list)
sgg_biz_df.head(10)

,DONG,GIGAN,GYE,JACHIGU,JONGSAJASU_1,JONGSAJASU_2,JONGSAJASU_3,JONGSAJASU_4,JONGSAJASU_5,JONGSAJASU_6,...,SAEOPCHESU_2,SAEOPCHESU_3,SAEOPCHESU_4,SAEOPCHESU_5,SAEOPCHESU_6,SAEOPCHESU_7,SAEOPCHESU_8,SAEOPCHESU_9,YEO,YEOSEONGDAEPYOJA
0,합계,2015,5108828,합계,491,69,287414,8713,6712,360192,...,17,23,62211,137,463,22695,234494,93642,2221109,272567
1,소계,2015,269106,종로구,16,7,11734,387,179,25269,...,1,2,4281,6,9,358,17447,1418,116340,13472
2,사직동,2015,51425,종로구,16,-,228,2,32,4158,...,1,-,71,1,2,38,563,280,21644,1092
3,삼청동,2015,4736,종로구,-,-,77,-,-,15,...,-,-,12,-,-,6,273,20,2362,354
4,부암동,2015,3635,종로구,-,5,125,-,-,53,...,-,1,21,-,-,22,104,33,1921,224
5,평창동,2015,3059,종로구,-,-,90,-,-,84,...,-,-,16,-,-,18,129,34,1621,298
6,무악동,2015,1510,종로구,-,-,9,-,-,79,...,-,-,6,-,-,9,59,344,706,121
7,교남동,2015,3158,종로구,-,-,18,-,-,40,...,-,-,8,-,-,9,69,32,1816,103
8,가회동,2015,12215,종로구,-,-,148,-,-,5446,...,-,-,33,-,-,11,172,23,3411,368
9,종로1.2.3.4가동,2015,110407,종로구,-,2,4913,383,54,13977,...,-,1,1909,4,4,88,7627,176,45435,5081

In [22]:
#시군구별 사업체 현황 데이터 추출
condition = sgg_biz_df['DONG'] == '소계'
sgg_biz_df_selected = sgg_biz_df[condition]
sgg_biz_df_selected.head(10)

,DONG,GIGAN,GYE,JACHIGU,JONGSAJASU_1,JONGSAJASU_2,JONGSAJASU_3,JONGSAJASU_4,JONGSAJASU_5,JONGSAJASU_6,...,SAEOPCHESU_2,SAEOPCHESU_3,SAEOPCHESU_4,SAEOPCHESU_5,SAEOPCHESU_6,SAEOPCHESU_7,SAEOPCHESU_8,SAEOPCHESU_9,YEO,YEOSEONGDAEPYOJA
1,소계,2015,269106,종로구,16,7,11734,387,179,25269,...,1,2,4281,6,9,358,17447,1418,116340,13472
19,소계,2015,423808,중구,-,7,29501,1048,159,7364,...,-,3,10259,7,8,451,34785,1666,189471,24249
35,소계,2015,133446,용산구,-,-,3444,55,167,7483,...,-,-,1100,3,12,440,7714,1292,57159,7030
52,소계,2015,162019,성동구,-,-,28795,816,439,6049,...,-,-,4650,10,31,661,7090,2641,64776,7617
70,소계,2015,123689,광진구,-,-,8187,93,145,10047,...,-,-,1917,2,16,836,6214,2511,54410,8627
86,소계,2015,143858,동대문구,-,3,13374,1,134,6390,...,-,1,3511,1,17,777,11740,3600,66287,10813
101,소계,2015,99241,중랑구,-,8,14883,105,208,5146,...,-,2,3440,3,19,906,5540,6225,47273,8952
118,소계,2015,113893,성북구,-,-,9617,6,184,3894,...,-,-,2519,2,16,594,5453,3601,56482,8883
139,소계,2015,69787,강북구,-,-,6105,206,149,2018,...,-,-,1564,2,8,481,3976,3131,36203,6738
153,소계,2015,68669,도봉구,1,6,4263,-,119,2832,...,1,1,1071,-,12,493,3667,4786,32603,6142

In [23]:
#필요없는 칼럼 제거
columns = ['JACHIGU','GYE','SAEOPCHESU_1']
sgg_biz_final = sgg_biz_df_selected[columns]
sgg_biz_final.columns =['시군구명','종사자수','사업체수']
sgg_biz_final.head()

   시군구명    종사자수   사업체수
1   종로구  269106  40871
19   중구  423808  66190
35  용산구  133446  21178
52  성동구  162019  26130
70  광진구  123689  24531

In [25]:
#데이터 프레임 인덱스 초기화
sgg_biz_final = sgg_biz_final.reset_index(drop= True)
sgg_biz_final.head()

  시군구명    종사자수   사업체수
0  종로구  269106  40871
1   중구  423808  66190
2  용산구  133446  21178
3  성동구  162019  26130
4  광진구  123689  24531

In [27]:
#엑셀로 저장
sgg_biz_final.to_excel('./files/0527sgg_biz_df.xlsx',index =False)

### 5.2 데이터 전처리